In [1]:
import pandas as pd
import numpy as np

from library1 import *

In [2]:
path = 'D:\KU\mlops\data'
train_chg = pd.read_csv(path + '/data/raw_data/train/1000_chg.csv')
train_dchg = pd.read_csv(path + '/data/raw_data/train/1000_dchg.csv')
test = pd.read_csv(path + '/data/raw_data/test/Test05_NG_chg.csv')

In [3]:
# chg 데이터와 dchg 데이터 합치기
train = pd.concat([train_chg, train_dchg])
train = train.reset_index(drop = True)

In [4]:
# 파이프라인 이용해서 전처리 (library1의 pipeline_model class에 속한 코드)
preprocess_pipe = Pipeline([
    ('feature_selector', VolTempSelector('M')),
    ('missing_value', handleMissingValue()),
    ('siff_smooth_df', DiffSmooth(0, 0, 0)),
    ('pca', PCA(n_components = 3)),
    ('component_selector', ComponentSelector(3))
])

In [5]:
preprocess_pipe.fit_transform(train)

               0         1         2
0      29.840985  5.316300 -0.353807
1      29.843296  5.314249 -0.393306
2      29.843233  5.314770 -0.393314
3      29.840976  5.316374 -0.353807
4      29.872686  5.324142 -0.322888
...          ...       ...       ...
11362 -16.812496  1.279979 -0.575992
11363 -16.812514  1.280129 -0.575996
11364 -16.780960  1.290132 -0.606304
11365 -16.812219  1.280235 -0.560784
11366 -16.812505  1.280055 -0.575993

[11367 rows x 3 columns]

In [6]:
preprocess_pipe.fit_transform(test)

              0         1         2
0     16.522754  0.214465 -0.164306
1     16.539885  0.216643 -0.181810
2     16.539995  0.211873 -0.124610
3     16.522433  0.212283 -0.192702
4     16.523134  0.214607 -0.172347
...         ...       ...       ...
5011 -16.215023  0.820330  0.131438
5012 -16.232288  0.814167  0.190962
5013 -16.232948  0.815809  0.154296
5014 -16.233189  0.817211  0.154359
5015 -16.250223  0.810770  0.171237

[5016 rows x 3 columns]