In [7]:
import pandas as pd
import numpy as np

from library1 import *

In [8]:
path = 'D:\KU\mlops\data'
train = pd.read_csv(path + '/data/raw_data/train/1000_chg.csv')
test = pd.read_csv(path + '/data/raw_data/test/Test05_NG_chg.csv')

In [9]:
preprocess = PreprocessPipe()
preprocess.fit_transform(train)

              0         1         2
0     18.488237  0.590387 -0.223252
1     18.489667  0.596742 -0.252020
2     18.489788  0.596241 -0.252126
3     18.488254  0.590316 -0.223271
4     18.520762  0.590422 -0.187038
...         ...       ...       ...
6004  -5.971993  0.446718 -0.086493
6005  -5.937055  0.458280 -0.094755
6006  -5.955181  0.451977 -0.083352
6007  -5.973104  0.447482 -0.080657
6008  -5.951328  0.453304 -0.109746

[6009 rows x 3 columns]

In [10]:
preprocess.fit_transform(test)

              0         1         2
0     16.522754  0.214465 -0.164306
1     16.539885  0.216643 -0.181810
2     16.539995  0.211873 -0.124610
3     16.522433  0.212283 -0.192702
4     16.523134  0.214607 -0.172347
...         ...       ...       ...
5011 -16.215023  0.820330  0.131438
5012 -16.232288  0.814167  0.190962
5013 -16.232948  0.815809  0.154296
5014 -16.233189  0.817211  0.154359
5015 -16.250223  0.810770  0.171237

[5016 rows x 3 columns]