In [2]:
import pandas as pd
import numpy as np

from library1 import *

In [7]:
path = 'D:\KU\mlops\data'
train_chg = pd.read_csv(path + '/data/raw_data/train/1000_chg.csv')
train_dchg = pd.read_csv(path + '/data/raw_data/train/1000_dchg.csv')
test = pd.read_csv(path + '/data/raw_data/test/Test05_NG_chg.csv')

In [8]:
# chg 데이터와 dchg 데이터 합치기
train = pd.concat([train_chg, train_dchg])
train = train.reset_index(drop = True)

In [10]:
# 파이프라인 이용해서 전처리 (library1의 pipeline_model class에 속한 코드)
preprocess_pipe = Pipeline([
    ('feature_selector', VolTempSelector('M')),
    ('missing_value', handleMissingValue()),
    ('pca', PCA(n_components = 3)),
    ('minmax_scaler', MinMaxScaler()),
    ('component_selector', ComponentSelector(3))
])

In [11]:
preprocess_pipe.fit_transform(train)

               0          1         2
0       4.514794  13.247922 -0.138444
1       4.514314  13.246869 -0.152812
2       4.516691  13.247578 -0.152977
3       4.515133  13.248020 -0.138428
4       4.511028  13.262384 -0.125167
...          ...        ...       ...
11362  16.324575  -1.661410 -0.215947
11363  16.325252  -1.661199 -0.216110
11364  16.322866  -1.646114 -0.226651
11365  16.326309  -1.661053 -0.210290
11366  16.324907  -1.661304 -0.215962

[11367 rows x 3 columns]

In [12]:
preprocess_pipe.transform(test)

              0          1         2
0      0.295289  27.793370  0.122859
1      0.295453  27.800743  0.130958
2      0.298489  27.799307  0.130698
3      0.302083  27.793383  0.127732
4      0.303425  27.795756  0.118855
...         ...        ...       ...
5011 -23.802764   7.864126 -0.259379
5012 -23.807158   7.853838 -0.264659
5013 -23.802496   7.857575 -0.260426
5014 -23.808956   7.855669 -0.260465
5015 -23.806827   7.846688 -0.266754

[5016 rows x 3 columns]