In [1]:
import pandas as pd
import numpy as np

In [2]:
path = 'D:\KU\mlops\data'
train = pd.read_csv(path + '/data/raw_data/train/1000_chg.csv')
test = pd.read_csv(path + '/data/raw_data/test/Test05_NG_chg.csv')

In [3]:
train.head()

,Date,Time,SerialNumber,Voltage,Current,RSOCmin,RSOCmax,RSOCavg,USOCmin,USOCmax,...,M12T01,M12T02,M13T01,M13T02,M14T01,M14T02,M15T01,M15T02,M16T01,M16T02
0,2020-08-04,15:51:49,1000,641.3,0.0,33.43,34.29,33.84,33,34,...,31.6,31.7,31.8,31.5,31.7,31.8,31.8,32.0,31.6,31.7
1,2020-08-04,15:51:50,1000,641.3,0.0,33.43,34.29,33.84,33,34,...,31.6,31.7,31.8,31.5,31.7,31.9,31.8,32.0,31.6,31.7
2,2020-08-04,15:51:51,1000,641.3,0.0,33.43,34.29,33.84,33,34,...,31.6,31.7,31.8,31.5,31.7,31.9,31.8,32.0,31.6,31.7
3,2020-08-04,15:51:52,1000,641.3,0.0,33.43,34.29,33.84,33,34,...,31.6,31.7,31.8,31.5,31.7,31.8,31.8,32.0,31.6,31.7
4,2020-08-04,15:51:53,1000,641.3,0.0,33.43,34.29,33.84,33,34,...,31.6,31.7,31.8,31.5,31.7,31.8,31.8,32.0,31.6,31.7